<div class="container text-center">
  <h1>What do you want to ask to your coach?</h1>
  <form action="answer">
    <div class="form-group">
      <input type="text" name=question placeholder="Question..." class="form-control">
    </div>
    <input type="submit" value="ASK!" class="btn btn-primary">
  </form>
</div>
