// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#question {
  font-weight: lighter;
}

.asnwer {
  font-weight: bolder;
  color: red;
}

p {
  margin-bottom: 0px;
}

.answer-container {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
}
.answer-container-coach {
  display: flex;
  margin: 10px;
  justify-content: flex-start;
}

.answer-bubble {
  background-color: #ccc;
  padding: 5px 20px;
  border-radius: 10px;
}
